<div style="height: 90px; background-color: #0492f7; margin: 0%;">
  <h1 align="center" style="color: aliceblue; padding: 10px;">Meme-Stream</h1>
</div>

<!-- <a "> -->
  <!-- <img src="" width="70px" height="70px"> -->
  <button id="add" onclick="openform()" data-bs-toggle="modal" data-bs-target="#egModal">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48">
      <path fill="rgb(221 0 49)" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#fff" d="M21,14h6v20h-6V14z"></path><path fill="#fff" d="M14,21h20v6H14V21z"></path>
      </svg>
  </button>
<!-- </a> -->

<!-- <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" id="search-meme" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" (click)="searchMeme()">Search</button>
    </form>
  </div>
</nav> -->

<!-- Modal 1: Add Data -->
<div class="modal fade" id="egModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Awesome Meme</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="user-name">
          </div>
          <div class="mb-3">
            <label class="col-form-label">Caption:</label>
            <input type="text" class="form-control" id="meme-caption">
          </div>
          <div class="mb-3">
            <label class="col-form-label">Meme URL:</label>
            <input type="text" class="form-control" id="meme-url">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="submitMeme()">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal2- Edit Data -->
<div class="modal fade" id="egModal2Edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Meme</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name-edit">
          </div>
          <div class="mb-3">
            <label class="col-form-label">Caption:</label>
            <input type="text" class="form-control" id="meme-caption-edit">
          </div>
          <div class="mb-3">
            <label class="col-form-label">Meme URL:</label>
            <input type="text" class="form-control" id="meme-url-edit">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveEditMeme()">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="container card-box">
  <!-- <div class="cardsbox"> -->
<div *ngFor="let meme of memeList" class="card border-success mb-3">
  <div class="card-header bg-transparent border-success" align="center"><h4>{{meme.name}}</h4></div>
  <div class="card-body text-success card-img">
    <img src={{meme.url}} class="card-img-top" alt="">
  </div>
  <div class="card-footer bg-transparent border-success">
    <h5 align="center">{{meme.caption}}</h5>
    <div align="center" class="card-buttons">
      <button data-bs-toggle="modal" data-bs-target="#egModal2Edit" class=" btn btn-success" (click)="editMeme(meme)">Edit</button>
      <button class=" btn btn-danger" (click)="deleteMeme(meme.id)">Delete</button>
    </div>
  </div>
<!-- </div> -->
</div>
</div>

